<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="my_awesome_model">
    <xacro:arg name="aruco_dictionary" default="DICT_4X4_100"/>
    <xacro:arg name="aruco_id" default="0"/>
    <xacro:arg name="aruco_name" default="DICT_4X4_100_id0"/>
    <xacro:arg name="aruco_l" default="0.5"/>
    <xacro:arg name="white_border" default="0"/>
    <xacro:include filename="$(find aruco_description)/urdf/general_aruco.xacro"/>
    <xacro:include filename="$(find koghf)/urdf/markers.gazebo.xacro"/>
    
    <link name="my_awesome_link"/>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="$(arg aruco_id)" aruco_l="$(arg aruco_l)" aruco_name="$(arg aruco_name)" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="1" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id1" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="2" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id2" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="3" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id3" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="4" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id4" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="5" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id5" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="6" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id6" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="7" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id7" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="8" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id8" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 -2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="9" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id9" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="10" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id10" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="11" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id11" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="12" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id12" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="13" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id13" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="14" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id14" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="15" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id15" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="16" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id16" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="17" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id17" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 -1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="18" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id18" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="19" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id19" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="20" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id20" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="21" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id21" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="22" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id22" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="23" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id23" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="24" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id24" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="25" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id25" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="26" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id26" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 0 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="27" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id27" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="28" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id28" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="29" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id29" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="30" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id30" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="31" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id31" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="32" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id32" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="33" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id33" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="34" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id34" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="35" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id35" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 1 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="36" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id36" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="37" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id37" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="38" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id38" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="39" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id39" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="40" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id40" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="41" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id41" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="42" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id42" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="43" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id43" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="44" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id44" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 2 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="45" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id45" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="46" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id46" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="47" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id47" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="48" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id48" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="49" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id49" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="50" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id50" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="51" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id51" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="52" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id52" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="53" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id53" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 3 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="54" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id54" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="55" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id55" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="56" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id56" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="57" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id57" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="58" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id58" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="59" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id59" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="60" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id60" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="61" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id61" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="62" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id62" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 4 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="63" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id63" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="64" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id64" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="65" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id65" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="66" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id66" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="67" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id67" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="68" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id68" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="69" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id69" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="70" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id70" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="71" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id71" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="72" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id72" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-4 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="73" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id73" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-3 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="74" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id74" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-2 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="75" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id75" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-1 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="76" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id76" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="0 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="77" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id77" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="1 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="78" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id78" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="2 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="79" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id79" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="3 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="80" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id80" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="4 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>

    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="81" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id81" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-5 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="82" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id82" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-6 5 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="83" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id83" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-5 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    <xacro:generic_aruco aruco_dictionary="$(arg aruco_dictionary)" aruco_id="84" aruco_l="$(arg aruco_l)" aruco_name="DICT_4X4_100_id84" white_border="$(arg white_border)" connected_to="my_awesome_link">
        <origin xyz="-6 6 2.5" rpy="0 0 0" />
    </xacro:generic_aruco>
    

</robot>

